/**********************************************
*** GENERAL
**********************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Open Sans;
  font-size: 16px;
  height: 100vh;
  font-weight: 400;
  position: relative;
  color: #555;
}
/**********************************************
*** TOP PART
**********************************************/

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../images/nbalogo.jpg");
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;
}

.players {
  position: absolute;
  width: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.players__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 300;
}

.icons {
  list-style: none;
  text-align: center;
}
.social-icons {
  display: inline-block;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  line-height: 1.1;
  margin-right: 10px;
}

a {
  color: #c1c1c1;
}
a:hover {
  color: rgba(255, 0, 51, 0.767);
}
.social-icons:hover {
  transform: translateY(-3px);
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/

.add {
  padding: 14px;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7;
  height: 80px;
}

.add__container {
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.add__stat {
  width: 110px;
  border: 1px solid #e7e7e7;
  height: 44px;
  font-size: 16px;
  color: inherit;
  background-color: #fff;
  margin-right: 10px;
  font-weight: 300;
  transition: border 0.3s;
}

.add__player {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 14px;
  padding: 12px 15px;
  margin-right: 5px;
  border-radius: 5px;
  transition: border 0.3s;
  width: 420px;
}

.add__btn {
  font-size: 35px;
  background: none;
  border: none;
  color: rgba(255, 0, 51, 0.767);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 10px;
}

.add__btn:active {
  transform: translateY(2px);
}

.add__stat:focus,
.add__player:focus {
  outline: none;
  border: 1px solid rgba(255, 0, 51, 0.767);
}

.add__btn:focus {
  outline: none;
}

/***** SEARCH RESULTS *****/

.items {
  display: none;
  padding: 0;

  z-index: 1;
  text-align: center;
  position: relative;
  left: 36%;
  /* transform: translate(-47%, -0%); */
  background-color: #f7f7f7;
  font-family: inherit;
  font-size: 14px;
  color: inherit;
  width: 420px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}
.item {
  padding: 12px 15px;
}
.item:hover {
  background-color: #e3e3e3;
  cursor: pointer;
}
/**** PLAYER BTN ****/
.player__list {
  padding: 15px 15px;
}
.player__btn {
  display: inline-block;
}

.player__item {
  text-align: center;
  margin-left: 25px;
  padding: 12px 10px;
  display: inline-block;
  border-radius: 5px;
  background: none;
  border: 1px solid;
  /* color: red; */
  height: 48px;
  font-size: 16px;
}
.player__Name {
  margin: 0 auto;
  vertical-align: center;
  display: inline-block;
  margin-left: 10px;
  transition: transform 0.3s;
}
.item__delete {
  display: inline-block;
}
.item__delete--btn {
  font-size: 16px;
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: center;
  line-height: 1;
  display: none;
}
.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}
.player__item:hover .item__delete--btn {
  display: inline-block;
}
.player__item:hover .item__value {
  transform: translateX(-10px);
}
.player__item:hover .player__Name {
  transform: translateX(-10px);
}

/***** CHART *****/
canvas {
  margin: 0 auto;
  width: 800px !important;
  height: 400px !important;
}
