body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(14, 13, 13);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
header {
  border-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #616161;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
h1 {
  text-align: center;
  font-size: 40px;
  border-radius: 5px;
  color: #616161;
}
.search {
  display: flex;
}
.red {
  color: rgb(255, 0, 0);
}
.blue {
  color: rgb(41, 121, 255);
}
.green {
  color: rgb(0, 230, 118);
}
.purple {
  color: rgb(213, 0, 249);
}
.yellow {
  color: rgb(255, 146, 0);
}
div.tooltip {
  color: white;
  position: absolute;
  text-align: left;
  width: 130px;
  height: 060px;
  padding: 2px;
  font: 10px sans-serif;
  background: #333;
  border: 1px solid lightgrey;
  border-radius: 5px;
  visibility: hidden;
  pointer-events: none;
}
.content {
  text-align: center;

  border-radius: 5px;
  padding: 20px;
  width: 100%;
  min-height: 500px;
}
circle {
  cursor: pointer;
}
form {
  display: flex;
  justify-content: space-evenly;

  align-items: flex-start;

  font-size: 16px;
}
ul {
  padding: 0px;
  margin: 0px;
}
li {
  cursor: pointer;
  background-color: rgb(104, 104, 104);
  list-style: none;
  margin-top: 1px;
  padding: 5px;
  box-sizing: border-box;
}
li:hover {
  background-color: rgb(124, 124, 124);
}
input#playerName {
  background-color: transparent;
  border: 1px solid rgb(104, 104, 104);
  padding: 5px 35px 5px 5px;
  border-radius: 5px;
  width: 400px;
  height: 50px;
  box-sizing: border-box;
  color: white;
  font-size: 16px;
}

input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
}
.custom-selector {
  width: 200px;
}
.select-selected {
  background-color: DodgerBlue;
}

select {
  width: 150px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid rgb(104, 104, 104);
  height: 50px;
  -webkit-appearance: none;
  appearance: none;
}
#listbox {
  background-color: transparent;
  height: fit-content(200px);
  overflow-y: scroll;
  box-sizing: border-box;
  z-index: 1;
  border-radius: 5px;
}

input:focus {
  background-color: transparent;
  color: #ffff;
  font-size: 16px;
}

div#root {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
div#playerInfo {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 30px;
  margin-bottom: 0px;
  text-align: left;
}

h6 {
  font-size: 20px;
  margin: 0px;
  padding: 5px;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
}

/* Northward tooltips */
.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}

.icons {
  display: flex;
}

.social-icons {
  font-size: 5em;
  background-color: transparent;
}
.social-icons:hover {
  background-color: transparent;
}
.fas,
.fab {
  color: #616161;
}
.fas:hover,
.fab:hover {
  color: rgba(255, 0, 0, 0.3);
}

#results {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 400px;
  background: black;
}
